@import "../../../resources/sass/base";

body {
    background-color: $black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    @extend %body-reset;
}

.nav-bar {
    background-color: $div;
    padding: 0.5rem;
    border-bottom: 1px solid $font;
    @media only screen and (max-width: 450px) {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .nav-link {
        font-size: 2rem;
        color: $font;
        padding: 2rem;
        &:hover {
            color: $font-hover;
        }
        @media only screen and (max-width: 450px) {
            padding: 0.5rem;
            font-size: 1.5rem;
        }
    }
}

main {
    height: 100vh;
    #btn-div {
        width: 9rem;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        #start-btn {
            background-color: red;
            color: $font;
            width: 8rem;
            height: 8rem;
            border-radius: 40%;
            border: 0.5rem solid $font;
            font-size: 2rem;
            cursor: pointer;
            margin: 0.3rem;
            @media only screen and (max-width: 450px) {
                width: 4rem;
                height: 4rem;
                font-size: 1rem;
                border: 0.1rem solid $font;
            }
        }
    }
    #statistics-div {
        background-color: $font;
        font-size: 2rem;
        display: flex;
        justify-content: space-around;
        padding: 0.5rem;
        @media only screen and (max-width: 450px) {
            font-size: 0.7rem;
        }
        .statistics-box {
            display: flex;
            gap: 1rem;
            @media only screen and (max-width: 450px) {
                gap: 0.5rem;
            }
        }
    }
    .play-zone {
        cursor: crosshair;
        height: 73vh;
        background-color: $black;
        .ball {
            height: 5rem;
            width: 5rem;
            background-color: $ball;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            position: absolute;
            visibility: hidden;
            @media only screen and (max-width: 450px) {
                height: 3rem;
                width: 3rem;
                font-size: 1.5rem;
            }
        }
        .infoBoard {
            height: 50vh;
            width: 50vh;
            position: relative;
            background-color: $div;
            border: 1px solid $font;
            margin: 2rem auto;
            visibility: hidden;
            @media only screen and (max-width: 450px) {
                height: 25vh;
                width: 25vh;
            }
            .infoBoard-div {
                margin: 1rem;
                color: $font;
                font-size: 2rem;
                @media only screen and (max-width: 450px) {
                    font-size: 1rem;
                }
            }
            #div-ok-btn {
                display: flex;
                justify-content: center;
                #ok-btn {
                    margin: 0;
                    padding: 0.5rem 2rem;
                    background-color: $font;
                    border-radius: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

}

.animate__hinge {
    --animate-duration: 1s;
}

.animate__backInRight,
.backInLeft,
.backInUp,
.backInRight {
    --animate-duration: 1s;
}
