body {
    box-sizing: border-box;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    margin: 0;
}

main {
    height: 100vh;
}

.play-zone {
    cursor: crosshair;
    height: 73vh;
    background-color: black;
}

#btn-div {
    width: 9rem;
    margin: 0 auto;
}

#start-btn {
    background-color: red;
    color: aliceblue;
    width: 8rem;
    height: 8rem;
    border-radius: 40%;
    border: 0.5rem solid aliceblue;
    font-size: 2rem;
    cursor: pointer;
    margin: 0.3rem;
}

#statistics-div {
    background-color: aliceblue;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.statistics-box {
    display: flex;
    gap: 1rem;
}

.ball {
    height: 5rem;
    width: 5rem;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    visibility: hidden;
}

.animate__hinge {
    --animate-duration: 1s;
}

.animate__backInRight,
.backInLeft,
.backInUp,
.backInRight {
    --animate-duration: 1s;
}


